<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Estudiante</title>
</head>
<body>


<form th:action="@{/saveL}" th:object="${libro}" method="post">
<label>Título</label>
<input type="text" th:field="*{titulo}">
<span th:errors="*{titulo}" style="color: red;"></span><br>
<label>Autor</label>
<input type="text" th:field="*{autor}">
<span th:errors="*{autor}" style="color: red;"></span><br>

<label>ISBN</label>
<input type="text" th:field="*{isbn}">
<span th:errors="*{isbn}" style="color: red;"></span><br>
 

<label>Categoría</label>
<span th:errors="*{isbn}" style="color: red;"></span><br>
 <select class="form-control" name="iC"  id="iC">
    <option th:each="categoria_i : ${categorias}" th:value="${categoria_i.id_categoria}" th:text="${categoria_i.categoria}"></option>
    </select>
    <span th:errors="*{categoria}" style="color: red;"></span><br>
    <br>
 <label>Estado</label><br>
<br>
<label>Activo</label><br>
<input type="radio" th:field="*{estado}" th:value="${true}"><br>
<label>Inactivo</label><br>
<input type="radio" th:field="*{estado}" th:value="${false}"><br>



<input type="submit" value="Guardar">




</form>
<!-- 
<form th:action="@{/listado}" method="get">
<label>listado</label>
<input type="submit" value="listado">
</form>
 -->

</body>
</html>