<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Estudiante</title>
</head>
<body>
<span th:text="${message}" style="color: green;"></span><br>
<form th:action="@{/ingresarCategoria}" method="get">

<input type="submit" value="Ingresar Categoría">
</form>
<br>


<form th:action="@{/ingresarLibro}" method="get">

<input type="submit" value="Ingresar Libro">
</form>
<br>


<form th:action="@{/listado}" method="get">

<input type="submit" value="Ver Libros">
</form>
<br>

</body>
</html>